<link href="/css/dev.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="overview">
                <h1 class="h1" style="font-size: 5em;">
                    TANAY
                </h1>
                <hr/>
                <img src="/img/tanay.jpg" width="400" height="400">
                <p class="lead" style="font-size:2em;">
                    * "I Solemnly swear that I am upto no good."
                    <br>
                    * A Caffine dependent life-form
                    <br>
                    * We Live, We Love, We Lie
                    <br>
                    => Follow:
                    <br> 
                    <button onclick="window.location.href='https://twitter.com/TanayMittal25'" type="button" class="btn btn-primary ButtonPad" style="color: black">Twitter</button>
                    
                    <button onclick="window.location.href='https://github.com/tanaymittal25'" type="button" class="btn btn-primary ButtonPad" style="color: black">GitHub</button>
                    
                    <button onclick="window.location.href='https://www.instagram.com/tanay.mittal.25/'" type="button" class="btn btn-primary ButtonPad" style="color: black">Instagram</button>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="overview">
                <h1 class="h1" style="font-size: 5em;">
                    AKSHAY
                </h1>
                <hr/>
                <img src="/img/aks.jpg" width="400" height="400">
                <p class="lead" style="font-size: 2em;">
                    * Depressed Lost Engineer
                    <br>
                    * Hopelessly Awkward
                    <br>
                    * "Chocolate Seeker"
                    <br>
                    => Follow:
                    <br>
                    <button onclick="window.location.href='https://twitter.com/AkshaySethia1'" type="button" class="btn btn-primary ButtonPad" style="color: black" >Twitter</button>

                    <button onclick="window.location.href='https://github.com/akshaysethia'" type="button" class="btn btn-primary ButtonPad" style="color: black">GitHub</button>
                    
                    <button onclick="window.location.href='https://www.instagram.com/akshay_sethia/'" type="button" class="btn btn-primary ButtonPad" style="color: black">Instagram</button>
                </p>
            </div>
        </div>
    </div>
</div> 