<div class="container">
    <h1 class="text-center">
        My Products
    </h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="overview">
                <div class="add-gig-card">
                    <p class="text-center" style="margin-top:40px;">
                        <a href="/add-new-gig" class="btn btn-success btn-lg">
                            Add a new Product
                        </a>
                    </p>
                </div>
            </div>

            <div class="overview">
                <div class="list-orders-card">
                    <div class="table-margin">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>About</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each gigs}}
                                <tr>
                                    <td>{{title}}</td>
                                    <td>{{price}}</td>
                                    <td>{{about}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>