<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="overview">
                <form method="POST">
                    <div class="form-group">
                            <label>
                                HUMAN ?
                            </label>
                            <input type="text" maxlength="4" class="form-control" placeholder="TYPE A 4 DIGIT NUMBER" name="confirm" class="numberinput">
                    </div>
                    <button class="btn btn-primary btn-success">
                        Place Order
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>